*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: pink;
    height: 60px;
    width: 100%;
    display: flex;
}
.header ul{
    justify-content:space-between;
    align-items: center;
    
    margin-left: 35%;


}
#logo{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;

}
#logo span{
    color: brown;
}
.header ul li a{
    justify-content: center;
    align-items: center;
    list-style: none;
}
div h3{
  
    font-weight: 400;
    
    margin-left: 30%;

}
h1{
    margin-left: 35%;
    margin-right: 30%;
    padding: 0 35px;
    margin-top: 10px;
    color: brown;
    font-weight: 700;
    border: 2px solid brown;
    border-radius: 30px;
    cursor: pointer;
}
h1:hover{
    background-color: brown;
    color: white;
}
p{
    margin-left: 30%;
    color: brown;
}

.sections{
    display: grid;
    width: 100%;
    margin: 0 auto 0;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 1px;
    background-image: linear-gradient(to right, pink,white,pink);
}
#content{

    width: 16%;
    
    
    color: brown;
    visibility: visible;
    transition: 0.4s 0.4s;
}
#content.open{
    visibility: hidden;
}


#content2{
    visibility: visible;
}  
#content2.open2{
    visibility: hidden;
}  

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.photos1, .photos2{
    display: grid;
    justify-content: space-between;
    align-items: center;


}
.photos1 img:hover{
    cursor: pointer;
    transform: rotate(15deg);
    box-shadow:  10px 20px 65px orange;
}
.photos2{
    margin-left: 20px


}
.photos2 img:hover{
    cursor: pointer;
    transform: rotate(15deg);
    box-shadow:  10px 20px 65px orange;
                
}

.footer{
    height: 30%;
    display: flex;
    background-color: black;
    color: white;
}
.col1{width: 30%;
    color: white;

}
.col2{
    width: 30%;
    color: white;
}
.col3{
    width: 30%;
    color: white;
}
.products img{
    width: 300px;

}
.sections #menu{
    position: absolute;
    left: 0;
    
}
#list{
    visibility: hidden;
}
#list.tap{
    visibility: visible;
}
#list2{
    visibility: hidden;
}
#list2.tap2{
    visibility: visible;
}

.full{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
.full img{
    width: 90%;
    max-width: 500px;
}
.full span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
}
#asset, #trade, #hire{
    color: black;
    cursor: pointer;
    border: 1px solid  black;
    border-radius: 5px;
    background-color: pink;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
#hire:hover{
    background-color: white;
    color: pink;
}
#trade:hover{
    background-color: white;
    color: pink;
}
#asset:hover{
    background-color: white;
    color: pink;
}
#x1photos{
    position: absolute;
    top: 35%;
    left: 7%;
    visibility: hidden;
    display: grid;
    cursor: pointer;
    justify-content: space-between;
}
#x1photos:hover{

    box-shadow: 10px 10px 60px orange;
    transition: 1s ease;
    

}
#x1photos.flip{
    visibility: visible;
}
#x1{
    cursor: pointer;
    color: brown;
}
#x1:hover{
    background-color: white;
    color: pink;
    border-radius: 20px;
}
#x2photos{
    position: absolute;
    top: 35%;
    left: 7%;
    visibility: hidden;
    display: grid;
    cursor: pointer;
    justify-content: space-between;
}
#x2photos:hover{
    
    box-shadow: 10px 10px 60px orange;
    transition: 1s ease;
    

}
#x2photos.flipp{
    visibility: visible;
}
#x2{
    cursor: pointer;
    color: brown;
}
#x2:hover{
    background-color: white;
    color: pink;
    border-radius: 20px;
}



